<div class="well">
	<div class="row">
		<h2>{{user.username}}</h2>
		{{user}}
		<p>Ola to your account page. Should contain info, edit, and personal stuff???</p>
		<div class="well well-sm" ng-controller="TeamCtrl">
			<div ng-show="!user.team">
				<h3>You don't have a team</h3>
				<div class="row">
					<div class="col-lg-6">
						<h4>Create new team</h4>
						<form id="teamForm" ng-submit="createTeam()">
			              <input ng-model="teamForm.name" type="text" name="team" placeholder="name of the team" />
			              <button type="submit" class="btn btn-danger">Create a team</button>
			            </form>
			            {{teamForm}}
					</div>
					<div class="col-lg-6">
						<h4>Joing existing team</h4>
						display list of all teams?on click- snippet with team info?
						<div class="list-group">
							<label 
							ng-class="{'list-group-item':selectedTeam!=$index,'list-group-item active':selectedTeam===$index,'list-group-item disabled':team.requests.indexOf(user.username)>-1}" 
							ng-model="selectedTeam"
							ng-click="selectTeam($index)"
							ng-repeat="team in teamList">
								{{team.name.original}}
								<span class="badge">{{team.players.length}}</span>
							</label>
						</div>
						{{teamList}}
						{{selectedTeam}}
						<button ng-show="selectedTeam>=0" class="btn" ng-click="joinTeam()">Join selected team from the list?</button>
					</div>
				</div>
			</div>

			<div ng-show="user.team">
				<h3>Your team: {{user.team}}</h3>
				<p>Your role in team: {{user.duty}}</p>
				


				<!--CAPTAIN STUFF can be in file or even state-->
				<div ng-show="user.duty==='captain'">
					you can manage your team
					<div class="row">
						<div class="col-lg-6">
							<h4>team members list for <u>{{user.team}}</u></h4>
							<div class="list-group col-lg-6">
								<label class="list-group-item" ng-repeat="member in teamMemberList">{{member}}
								<span ng-click="kickMember(member)" class="glyphicon glyphicon-remove"></span>
								</label>
								{{teamMemberList}}
							</div>
						</div>
						<div class="col-lg-6">
							<h4>team requests list?</h4>
							<div class="list-group col-lg-6">
								<label class="list-group-item" ng-repeat="request in requestsList">{{request}}
								<span ng-click="handleTeamRequest(request,'true')" class="glyphicon glyphicon-thumbs-up"></span>
								<span ng-click="handleTeamRequest(request,'false')" class="glyphicon glyphicon-thumbs-down"></span>
								</label>
							</div>

						</div>
					</div>
					<button class="btn btn-danger" ng-click="disbandTeam()">delete team</button>
				</div>

			</div>
		
		</div>
	</div>
</div>