<div class="container">
	<div class="well">
		<!--MESS WITH TOURNAMENTS-->
		<div class="well">
			<div class="row">
				<div class="col-lg-8">
					<tournament-management></tournament-management>
				</div>
				<div class="col-lg-4">
					<tournament-creation></tournament-creation>
				</div>
			</div>
		</div>

		<!--MESS WITH NEWS-->
		<div class="well">
			<div class="row">
				<div class="col-lg-12">
					<news-management></news-management>
				</div>
			</div>
		</div>

		<!--MESS WITH Hall Of Fame-->
		<div class="well">
			<div class="row">
				<div class="col-lg-12">
					<hall-of-fame-management></hall-of-fame-management>
				</div>
			</div>
		</div>
	</div>
</div>